# python
__pycache__/
*$py.class

# Virtualenv, pyenv, authenv
.Python
pyvenv.cfg
.venv
.python-version
.cenv
environment.yml

# Pycharm project files
.idea
*.iml
out
gen

# etc
!.gitignore

# last
!.keep

.sql
.env